<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
&lt;!&ndash;
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Vestibule 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130406

&ndash;&gt;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Vestibule  by TEMPLATED</title>
<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="logo" class="container">
		<h1><a href="#">Vestibule</a></h1>
		<p>In posuere eleifend odio quisque semper augue.</p>
	</div>
	<div id="page" class="container">
		<div>
			<div class="entry">
				<p>Use this form to enter all your tasks</p>
			</div>
		</div>
	</div>
	<div id="three-column" class="container">
		<div class="tbox1">
			<div class="box-style box-style01">
				<div class="content">
					<div class="image"><img src="/static/images/img01.jpg" width="324" height="200" alt="" /></div>
					<h2>Fusce ultrices fringilla</h2>
					<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. </p>
					<a href="#" class="button">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>© 2020 kferbs Inc. All rights reserved.  Base template provided by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
&lt;!&ndash; end #footer &ndash;&gt;
</body>
</html>
-->
